[submodule "_data/popolo-data"]
	path = _data/popolo-data
	url = https://github.com/SomethingNewUK/popolo-data.git
[submodule "_data/finances"]
	path = _data/finances
	url = https://github.com/SomethingNewUK/finances.git
[submodule "manifesto"]
	path = manifesto
	url = https://github.com/openpolitics/manifesto.git
[submodule "about/documents"]
	path = about/documents
	url = https://github.com/SomethingNewUK/party-constitution.git
