[submodule "_data/election-data"]
	path = _data/election-data
	url = https://github.com/SomethingNewUK/election-data.git
[submodule "_data/finances"]
	path = _data/finances
	url = https://github.com/SomethingNewUK/finances.git
[submodule "manifesto"]
	path = manifesto
	url = https://github.com/openpolitics/manifesto.git
