version: 3.0.3
title: Something New
description: Something New is a political party for the 21st century, building a better democracy for the future.
locale: en_gb
timezone: Europe/London
twitter: havesomenew
facebook: somethingnewuk
image:
  square: /images/logo.png
  card: /images/card.png
url: https://somethingnew.org.uk
future: true

collections:
  elections:
    output: true
    permalink: /elections/:year/:month/:day/:title.html
  people:
    output: true
    permalink: /people/:title.html
  events:
    output: true
    permalink: /events/:year/:month/:day/:title.html
permalink: /news/:year/:month/:day/:title.html

defaults:
  -
    scope:
      type: "pages"
    values:
      layout: "page"
      disable_subscribe_button: false
  -
    scope:
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      type: "events"
    values:
      layout: "page"
  -
    scope:
      type: "elections"
    values:
      layout: "election"
  -
    scope:
      type: "people"
    values:
      layout: "person"
  -
    scope:
      path: "manifesto/index.md"
      type: "pages"
    values:
      layout: "manifesto_index"
  -
    scope:
      path: "manifesto/constituencies/index.md"
      type: "pages"
    values:
      layout: "manifesto_local_index"
  -
    scope:
      path: "manifesto/constituencies"
      type: "pages"
    values:
      layout: "manifesto_local_policy"
  -
    scope:
      path: "manifesto"
      type: "pages"
    values:
      layout: "manifesto_policy"
gems:
  - jekyll-redirect-from
  - jekyll-sitemap
  - jemoji
  - jekyll-feed

feed:
  path: news.rss

github:
  organisation: somethingnewuk
  pages_domain: somethingnewuk.github.io
  finances_repo: finances
  
exclude: 
  - vendor
