---
title: Candidates
---

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for e in site.data.popolo-data.elections %}
    {% unless e[1].parent_id %}
      {% assign tmp = e[0] %}
      {% include election.html election_id=tmp %}
    {% endunless %}
  {% endfor %}
</div>

<p>
  We're always looking for candidates for future elections. It's surprisingly <a href='/standing_for_election.html'>simple to do</a>, and we'll be behind you all the way. Interested? <a href='/support.html'>Come and talk to us</a>.
</p>

<!-- <h3>Allied Parliamentary Candidates</h3>
<p>We are officially allied with a number of <a href="/party_alliances.html">other parties</a>, so if we don't have a candidate near you, take a look at them instead:</p>
<table class="table table-striped" align="center" border="0">
  <tbody>
    <tr>
      <th>Constituency</th>
      <th>Candidate</th>
      <th>Party</th>
    </tr>
    <tr>
      <td>Bethnal Green and Bow</td>
      <td><a href="http://whigs.uk/bethnal-green-and-bow/">Alasdair Henderson</a></td>
      <td>The Whig Party</td>
    </tr>
    <tr>
      <td>Camberwell and Peckham</td>
      <td><a href="http://whigs.uk/camberwell-and-peckham/">Felicity Anscombe</a></td>
      <td>The Whig Party</td>
    </tr>
    <tr>
      <td>Cambridge</td>
      <td><a href="http://www.rebootingdemocracy.uk/">Keith Garrett</a></td>
      <td>Rebooting Democracy</td>
    </tr>
    <tr>
      <td>Stretford and Urmston</td>
      <td><a href="http://whigs.uk/stretford-and-urmston/">Paul Bradley-Law</a></td>
      <td>The Whig Party</td>
    </tr>
    <tr>
      <td>Vauxhall</td>
      <td><a href="http://whigs.uk/vauxhall/">Waleed Ghani</a></td>
      <td>The Whig Party</td>
    </tr>
  </tbody>
</table>

<h3>Recommended Parliamentary Candidates</h3>
<p>Even with our allies, we can't be everywhere, but there are plenty of other candidates that we think are worth a look, even though they're not officially allied (and might not even know we recommend them):</p>
<table class="table table-striped" align="center" border="0">
  <tbody>
    <tr>
      <th>Constituency</th>
      <th>Candidate</th>
      <th>Party</th>
    </tr>
    <tr>
      <td>Bermondsey and Old Southwark</td>
      <td><a href="https://lucy4baos.wordpress.com">Lucy Hall</a></td>
      <td>Independent</td>
    </tr>
    <tr>
      <td>Bridgend</td>
      <td><a href="http://wales.pirateparty.org.uk/">David Elston</a></td>
      <td>Pirate Party
        <span>&nbsp;UK</span>
      </td>
    </tr>
    <tr>
      <td>Bristol West</td>
      <td><a href="http://dawnparry.com/">Dawn Parry</a></td>
      <td>Independent</td>
    </tr>
    <tr>
      <td>Esher and Walton</td>
      <td><a href="http://vote-citizen.com/">Della Reynolds</a></td>
      <td>Independent</td>
    </tr>
    <tr>
      <td>Gorton</td>
      <td><a href="http://manchester.pirateparty.org.uk/">Cristian Chesha</a></td>
      <td>Pirate Party UK</td>
    </tr>
    <tr>
      <td>Manchester Central</td>
      <td><a href="http://manchester.pirateparty.org.uk/">Loz Kaye</a></td>
      <td>Pirate Party
        <span>&nbsp;UK</span>
      </td>
    </tr>
    <tr>
      <td>North Wiltshire</td>
      <td><a href="http://www.makingwiltshirebetter.co.uk/">Simon Killane</a></td>
      <td>Independent</td>
    </tr>
    <tr>
      <td>Reading West</td>
      <td><a href="http://suzieferguson4readingwest.org/">Suzie Ferguson</a></td>
      <td>Independent</td>
    </tr>
    <tr>
      <td>Salford &amp; Eccles</td>
      <td><a href="http://manchester.pirateparty.org.uk/">Sam Clark</a></td>
      <td>Pirate Party
        <span>&nbsp;UK</span>
      </td>
    </tr>
    <tr>
      <td>Sheffield Central</td>
      <td><a href="http://sheffield.pirateparty.org.uk/">Andy Halsall</a></td>
      <td>Pirate Party
        <span>&nbsp;UK</span>
      </td>
    </tr>
    <tr>
      <td>Stroud</td>
      <td><a href="https://twitter.com/MyStroudMP">Richard Wilson</a></td>
      <td>Independent</td>
    </tr>
  </tbody>
</table> -->