---
title: Candidates
---

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for e in site.data.popolo-data.elections %}
    {% unless e[1].parent_id %}
      {% assign tmp = e[0] %}
      {% include election.html election_id=tmp %}
    {% endunless %}
  {% endfor %}
</div>

<p>
  We're always looking for candidates for future elections. It's surprisingly
  <a href='/standing_for_election.html'>simple to do</a>, and we'll be behind 
  you all the way. Interested? <a href='/support.html'>Come and talk to us</a>.
</p>