---
redirect_from: /our_values.html
disable_subscribe_button: true
show_hero: true
---
<p class='lead' style='margin-top: 10px'>
  Our old political options are broken, and we need new choices for the 21st century. We are building
  a new political party that's all about working towards a better future, built on openness, collaboration and
  the power of the Internet to connect us all.
</p>

<p>
  We started in 2013 by creating an <a href='/manifesto'>open-source manifesto</a>, 
  and now we're building a movement for a new type of democracy. 
  If that sounds like something you can believe in, join the party today:
</p>

{% include join_boxes.html %}

<p style='text-align: center'>
  <small><a href='/join.html'>Not a UK voter? Want to join for free? Want more details? Click here.</a></small>
</p>

<h2>
  Be part of a better future. Be part of Something New.
</h2>

<hr/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<div class='row'>
  <div class="masonry js-masonry" 
    data-masonry-options='{ "itemSelector": ".masonry-item", "columnWidth": ".masonry-sizer", "percentPosition": true }'
    style="margin-left: auto; margin-right: auto;">
    <div class="masonry-sizer"></div>
    {% for principle in site.data.principles %}
      <div class='masonry-item'>
        <h2>{{ principle.title }}</h2>
        <p>
          {{principle.text}}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

{% include testimonials.html %}
