---
title: News
---



{% for post in site.posts %}
  <div>
    <h2>
      <a href='{{post.url}}'>{{ post.title }}</a> 
    </h2>
    <p>
      <small>
        by
        {% for author_id in post.authors %}
          {% capture author_path %}_people/{{ author_id }}.md{% endcapture %}
          {% assign author = site.people | where: "path", author_path | first %}
          <a href='{{author.id}}'>{% if author.popolo_data_id %}{{site.data.popolo-data.people[author.popolo_data_id].name}}{% else %}{{ author.name }}{% endif %}</a>{% if forloop.last %},{% else %} &amp; {% endif %}
        {% endfor %}
        {{ post.date | date: '%d %B %Y' }}
      </small>
    </p>
    <div>
      {{ post.excerpt }}
      <a class='btn btn-default' href='{{post.url}}'>Read more >></a>
    </div>
  </div>
  <hr/>
{% endfor %}