<p class='alert alert-info'>
  Rows with unnamed donors are where we are awaiting explicit permission to publish
  the donor's name.
</p>

{% assign lastyear = "0" %}
{% for row in data_table %}
  {% assign lastyear = year %}
  {% assign year = row.date | split: '-' | first %}
  {% if year != lastyear %}
    {% unless forloop.first %}
      </table>
    {% endunless %}
    <h2>{{ year }}</h2>
    <table class='table table-striped'>
      <tr>
        <th>Date</th>
        <th>Donor</th>
        <th>Amount</th>
      </tr>
  {% endif %}
  <tr>
    <td>{{row.date}}</td>
    <td>{{row.name}}</td>
    <td>£{{row.amount}}</td>
  </tr>
  {% if forloop.last %}
    </table>
  {% endif %}
{% endfor %}