<h2>Files</h2>

<table class='table table-striped'>
  
  <tr>
    <th>
      Name
    </th>
    <th>
      Download
    </th>
    <!--<th>
      Validation
    </th>-->
  </tr>

  {% for resource in site.data.finances.datapackage.resources %}
    <tr>
      <td>
        <a href='{{ resource.path | replace: ".csv", ".html" }}' title="View data">
          {{ resource.name }}
        </a>
      </td>
      <td>
        <a href='{{resource.url}}' title="Download" class='btn btn-default btn-sm'>
          <i class='fa fa-cloud-download' aria-hidden="true"></i>
          CSV
        </a>
      </td>
      <!-- commented until it works
      <td>
        {% assign csvlint = resource.links | where:"name","CSV Validation" | first %}
        {% if csvlint and csvlint.url %}
          <a href='{{ csvlint.url }}'>
            <img src="{{ csvlint.url }}.svg" alt="{{ csvlint.name }}" />
          </a>
        {% endif %}
      </td>-->
    </tr>
  {% endfor %}
  
</table>
