<h2>Files</h2>

<table class='table table-striped'>
  
  <tr>
    <th>
      Name
    </th>
    <th>
      Schema
    </th>
    <th>
      Data
    </th>
    <th>
      Download
    </th>
    <!--<th>
      Validation
    </th>-->
  </tr>

  {% for resource in site.data.finances.datapackage.resources %}
    <tr>
      <td>
        {{ resource.name }}
      </td>
      <td>
        {{ resource.schema }}
      </td>
      <td>
        <a href='{{ resource.path | split:"." | first }}.html' title="View data">
          <i class='fa fa-search' aria-hidden="true"></i>
          View
        </a>
      </td>
      <td>
        <a href='{{resource.url}}' title="Download">
          <i class='fa fa-cloud-download' aria-hidden="true"></i>
          CSV
        </a>
      </td>
      <!-- commented until it works
      <td>
        {% assign csvlint = resource.links | where:"name","CSV Validation" | first %}
        {% if csvlint and csvlint.url %}
          <a href='{{ csvlint.url }}'>
            <img src="{{ csvlint.url }}.svg" alt="{{ csvlint.name }}" />
          </a>
        {% endif %}
      </td>-->
    </tr>
  {% endfor %}
  
</table>
