<div class='row'>

  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3 class="panel-title">Join with a monthly donation</h3>
      </div>
      <div class='panel-body'>
        <form method="GET" action="https://subscriptions.zoho.com/subscribe/8cef313466ac657e4c0370e9ea55ae6f6a2bba0f6b053217afe8ded60e8a6aa6/monthly-membership">
          <input type="hidden" name="addon_code[0]" value="monthly-donation">
          <p>
            Donate £ <input type="number" name="addon_quantity[0]" min="1" value="5" style="width: 3em" required> per month
          </p>
          <p>
            <input type="checkbox" name="registered" required> I am a registered UK voter
          </p>
          <input type="submit" value="Join and donate monthly" class='btn btn-primary pull-right'>
        </form>
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3 class="panel-title">Join with a yearly donation</h3>
      </div>
      <div class='panel-body'>
        <form method="GET" action="https://subscriptions.zoho.com/subscribe/8cef313466ac657e4c0370e9ea55ae6f6a2bba0f6b053217afe8ded60e8a6aa6/annual-membership">
          <input type="hidden" name="addon_code[0]" value="annual-donation">
          <p>
            Donate £ <input type="number" name="addon_quantity[0]" min="1" value="25" style="width: 3em" required> per year
          </p>
          <p>
            <input type="checkbox" name="registered" required> I am a registered UK voter
          </p>
          <input type="submit" value="Join and donate yearly" class='btn btn-primary pull-right'>
        </form>
      </div>
    </div>
  </div>
  
</div>