{% assign label_class="col-sm-4 control-label" %}
{% assign control_class="col-sm-8" %}

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//somethingnew.us12.list-manage.com/subscribe/post?u=a7c6beacf58097cbc15650119&amp;id=7bcdaf12a7" method="post" target="_blank" class="form-horizontal">
    <div class="form-group">
      <label for="mce-EMAIL" class="{{label_class}}">Email Address <span class="asterisk">*</span></label>
      <div class="{{control_class}}">
        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="you@example.com" required>
      </div>
    </div>
    <div class="form-group">
      <label for="mce-NAME" class="{{label_class}}">Name <span class="asterisk">*</span></label>
      <div class="{{control_class}}">
        <input type="text" value="" class="form-control" id="mce-NAME"  name="NAME" placeholder="Your Name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="mce-POSTCODE" class="{{label_class}}">Postcode </label>
      <div class="{{control_class}}">
        <input type="text" value="" class="form-control" id="mce-POSTCODE" name="POSTCODE">
      </div>
    </div>
    <div class="form-group">
      <label for="mce-TWITTER" class="{{label_class}}">Twitter Account </label>
      <div class="{{control_class}}">
        <input type="text" value="" class="form-control" id="mce-TWITTER" name="TWITTER">
      </div>
    </div>
    <div class="form-group">
      <label for="mce-VOLUNTEER" class="{{label_class}}">Volunteer? </label>
      <div class="{{control_class}}">
        <select class="form-control" id="mce-VOLUNTEER" name="VOLUNTEER">
          <option value=""></option>
          <option value="Yes">Yes, I would like to help out!</option>
          <option value="No">Not right now</option>
        </select>
      </div>
    </div>
    <!--<div class="form-group">
      <label for="mce-WEBSITE" class="{{label_class}}">Website </label>
      <div class="{{control_class}}">
        <input type="url" value="" class="form-control" id="mce-WEBSITE" name="WEBSITE">
      </div>
    </div>-->
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_a7c6beacf58097cbc15650119_7bcdaf12a7" tabindex="-1" value="">
    </div>
    <div class="form-group">
      <label class="{{label_class}}"></label>
      <div class="{{control_class}}">
        <input type="submit" value="Sign me up" name="subscribe" class="form-control btn btn-primary">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->