<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Home" src="/images/logo.png" height="100%">
      </a>
      <a class="navbar-brand visible-xs-block" href="/support.html">Join</a>
      <a class="navbar-brand visible-xs-block" href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CFGWER8JJ738U'>Donate</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class='hidden-xs'><a class="navbar-link" href="/support.html">Get Involved</a></li>
        <li class='hidden-xs'><a class="navbar-link" href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CFGWER8JJ738U'><i class='fa fa-paypal'></i> Donate</a></li>
        {% include manifesto_menu.html %}
        <li><a href="/candidates.html">Candidates</a></li>
        <li><a href="/news.html">News</a></li>
        <li class="dropdown">
          <a href="/about/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about/">About</a></li>
            <li><a href="/contact_us.html">Contact Us</a></li>
            <li><a href="/people.html">People</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/coverage.html">Media Coverage</a></li>
            <li><a href="/watch_and_listen.html">Watch &amp; Listen</a></li>
            <li><a href="/our_guarantee.html">Our Guarantee</a></li>
            <li><a href="/about/finances">Finances</a></li>
            <li><a href="/downloads.html">Downloads</a></li>
            <li><a href="/about/code_of_conduct.html">Code of Conduct</a></li>
          </ul>
        </li>
        {% unless page.disable_subscribe_button %}
          <li>
            <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#mailingListModal">
              <i class='fa fa-bullhorn'></i> GET UPDATES
            </button>
          </li>
        {% endunless %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
