<div class='principles'>
  
  <div class='container'>

    <h2>
      Our Principles
    </h2>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <div class='row'>
      <div class="masonry js-masonry" 
        data-masonry-options='{ "itemSelector": ".masonry-item", "columnWidth": ".masonry-sizer", "percentPosition": true }'
        style="margin-left: auto; margin-right: auto;">
        <div class="masonry-sizer"></div>
        {% for principle in site.data.principles %}
          <div class='masonry-item'>
            <h3>{{ principle.title }}</h3>
            <p>
              {{principle.text}}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    
  </div>

</div>
