.masonry {
  
  .masonry-item, .masonry-sizer {
    
    @media (min-width: 768px) {
      width: 350px;      
      margin: 5px;
    }
    @media (max-width: 767px) {
      width: 90%;
      margin-bottom: 5px;
      margin-left: 5%;
      margin-right: 5%;
    } 
  }

  .masonry-item {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 10px;
    text-align: justify;
    background-color: #dfdfdd;
    
    h2 {
      text-align: center;
    }
    
  }
  

}