.post {
  
  .byline {
    padding-top: 15px;
    color: #aaa;
    margin-bottom: 25px;
  }
  
  h1:after {
    margin-bottom: 0px;
  }
  
  img.blog-header {
    width: 100%;
  }
  
  .postcontent {
    
    > p:first-child {
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 10px 10px;
      background-color: #dfdfdd;
    }
    
  }
  
}

.image-caption {
  position: relative;
  background: black;
  color: white;
  padding: 3px;
  top: -1.9em;
  float: right;
  opacity: 0.5;
  font-size: 0.75em;
  a {
    color: white;
  }
}