---
---

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("https://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2");
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  } 
}

body {

  padding-top: 50px; // avoid navbar
  @media screen and (max-width: 768px) {
    padding-top: 30px; // for some reason
  }
  
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;

  h1 {
    font-size: 2.33333em;
    font-weight: 400;
    text-align: center;
    
    &::after {
    	content: "";
    	display: block;
    	height: 10px;
    	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwAJKS0v/M6KLgwS7u7sZUSRggiDFcAlkQbgEuiBYApsgSAIAGVcWZWur2rIAAAAASUVORK5CYII=") repeat scroll 0% 0%;
    }
  }

  h1, h2, h3, h4, h5, nav {
  	font-family: "Oswald","Helvetica Narrow","Arial Narrow",sans-serif;
  	text-transform: uppercase;
  	line-height: 1.25em;
  }

  header {
    text-align: center;
    
    nav {
      .active a {
        color: #06F5ED !important;
      }
    }

  }

  .content {
    background: white;
  }

  .clear {
    clear: both;
  }

  .centered-button {
    text-align: center;
    margin-bottom: 20px;
  }
  
  > footer {
    margin-top: 25px;
    background: black;
    padding: 50px;
    color: white;
    font-size: 0.75em;
    
    a, a:hover {
      color: #0B9490;
      text-decoration: none;
    }
    
    .col-xs-6:nth-child(2) {
      text-align: right;
    }
    
  }
}

.downloads {
  
  text-align: center;
    
  img {
    border: 5px solid #000;
    width: 150px;
  }
}

@media (min-width: 768px){
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
}

.carousel-text {
  color: white;
  padding-top: 25px;
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.candidate {
  text-align: center;
  div.headshot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: top;
    margin-left: auto;
    margin-right: auto;
  }
}

@import "policy";
@import "masonry";
@import "hero";
@import "posts";
@import "people";