<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta name="description" content="{{page.description}}" />
    <meta name="keywords" content="{{page.keywords}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon64.png"/>
    <title>Something New: {{ page.title }}</title>
  </head>

  <body>

    <header>
      <img src='/images/logo.jpg' alt='Something New Logo'/>
      {% include navbar.html %}
    </header>

    <div class='container'>
      {% if page.title %}
        <h1>
          {{page.title}}
          {% if page.editable == true %}
            {% include manifesto_edit_button.html %}
          {% endif %}
        </h1>
      {% endif %}
      {{ content }}
    </div>

    <footer>
      {% include footer.html %}
    </footer>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    {% unless page.disable_subscribe_button %}
      {% include mailing_list_modal.html %}
    {% endunless %}

  </body>
</html>