---
layout: page
---

<div class='candidate well pull-right'>
  {% assign candidacy = site.data.popolo-data.candidacies[page.candidacy_id] %}
  {% assign person    = site.data.popolo-data.people[candidacy.person_id] %}
  {% assign event_id  = candidacy.event_id | remove: "." %}
  {% assign election  = site.data.popolo-data.elections[event_id] %}
  {% assign leaflet   = candidacy.links | where: "note", "Election leaflet" %}
  {% assign twitter   = person.contact_details | where: "type", "twitter" %}

  <p>
    <strong>{{ person.name }}</strong>
  </p>
  <div class='headshot' style='background-image: url({{ person.image }})'></div>
  <p>
    {{ election.location.name }}
  </p>
  {% if twitter[0] %}
    <p>
      <a href='https://twitter.com/{{twitter[0]["value"]}}'><i class='fa fa-twitter'></i> @{{twitter[0]["value"]}}</a>
    </p>
  {% endif %}
  {% if leaflet[0] %}
    <p>
      <a href='{{leaflet[0]["url"]}}'><i class='fa fa-cloud-download'></i> Download Leaflet</a>
    </p>
  {% endif %}
  {% if candidacy.result %}
    {% if candidacy.result.elected %}
      <span class='label label-success'>Elected</span>
    {% else %}
      <span class='label label-danger'>Not Elected</span>
    {% endif %}
    <br/>
    <a href='{{election.result.url}}'>
      {{ candidacy.result.votes }} votes ({{ candidacy.result.share | times: 100 | round: 2 }}%)
    </a>
  {% endif %}
  
</div>

{{content }}