---
layout: page
---

{% assign path = page.path | split:"." | first | split:"/" %}
{% assign area = path[2] %}
{% assign type = path[3] %}

{% capture resource_path %}{{area}}/{{type}}.csv{% endcapture %}

{% assign data_table = site.data.finances[area][type] %}

{% for r in site.data.finances.datapackage.resources %}
  {% if r.path == resource_path %}
    {% assign resource = r %}
  {% endif %}
{% endfor %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        {{ site.data.finances.datapackage.title }}
      </a>
    </div>
  </div>
</nav>

<h1>{{ resource.name }}</h1>

{% if resource.schema == "expenditure" %}
  {% include finances/expenditure.html %}
{% elsif resource.schema == "donations" %}
  {% include finances/donations.html %}
{% endif %}

{% assign csvlint = resource.links | where:"name","CSV Validation" | first %}
<div class='pull-right'>
  <a href='{{ csvlint.url }}'>
    <img src="{{ csvlint.url }}.svg" alt="{{ csvlint.name }}" />
  </a>
</div>

<a class='btn btn-primary' href='{{resource.url}}'><i class='fa fa-cloud-download'></i> Download CSV</a>
<a class='btn btn-default' href='http://githubeditor.herokuapp.com/{{site.github.organisation}}/{{site.github.finances_repo}}/blob/gh-pages/{{resource.path}}'><i class='fa fa-edit'></i> Edit</a>