---
layout: page
---

<div class="container">
  
  <div class='alert alert-info'>
    <p>
      Something New has adopted the <a href="http://openpolitics.org.uk">OpenPolitics Manifesto</a>, an independent 
      non-partisan manifesto that absolutely anyone can contribute to. To suggest
      a change, just click the button at the top right and write in what you think
      the manifesto should say.
    </p>
  </div>
  
  <div class='well pull-right'>
    <p>
      <a href='https://leanpub.com/openpolitics-manifesto' class='btn btn-default btn-block'>
        <i class='fa fa-book'></i>
        Download ebook
      </a>
    </p>
    <div class='row' style='text-align: center'>
      <div class='col-xs-4'>
        <i class='fa fa-laptop'></i>
        <br/>
        PDF
      </div>
      <div class='col-xs-4'>
        <i class='fa fa-mobile'></i> <i class='fa fa-tablet'></i>
        <br/>
        EPUB
      </div>
      <div class='col-xs-4'>
        <i class='fa fa-tablet'></i>
        <br/>
        MOBI
      </div>
    </div>
  </div>
  
  {{content}}    

  <hr/>

  {% include manifesto_page_tiles.html %}

</div>