---
layout: page
---
{% if page.popolo_data_id %}
  {% assign person = site.data.popolo-data.people[page.popolo_data_id] %}
  {% assign officer_roles = site.data.popolo-data.memberships["something-new-national-officers"] | where: "person_id", page.popolo_data_id %}
  {% assign board_roles = site.data.popolo-data.memberships["something-new-executive-board"] | where: "person_id", page.popolo_data_id %}
{% endif %}

{% if person.image %}
  <img src='{{person.image}}' class='pull-right' alt='{{person.name}}'/>
{% endif %}

{% for role in officer_roles %}
  <span class="label label-default">{{ site.data.popolo-data.posts[role.post_id].label }}</span>
{% endfor %}

{% for role in board_roles %}
  {% assign label = site.data.popolo-data.posts[role.post_id].label %}
  {% unless label %}
    {% assign label = "Member" %}
  {% endunless %}
  <span class="label label-default">{{ label }} of Executive Board</span>
{% endfor %}

<div>
  {% if person.email %}
    <a href='mailto:{{person.email}}'><i class='fa fa-envelope'></i></a>
  {% endif %}
  {% assign twitter = person.contact_details | where: "type", "twitter" %}
  {% if twitter %}
    <a href='https://twitter.com/{{twitter["value"]}}'><i class='fa fa-twitter'></i></a>
  {% endif %}
  {% for link in person.links %}
    <a href='{{link["url"]}}'><i class='fa fa-globe'></i></a>
  {% endfor %}
</div>

<div>
  {{ content }}
</div>