---
layout: page
---
<div class="container">
  
  <div class='alert alert-info'>
    <p>
      Something New has adopted the <a href="http://openpolitics.org.uk">OpenPolitics Manifesto</a>, an independent 
      non-partisan manifesto that absolutely anyone can contribute to. To suggest
      a change, just click the button at the top right and write in what you think
      the manifesto should say.
    </p>
  </div>
  
  {{content}}

  <hr/>

  {% include page_tiles.html layout="policy" %}

</div>