---
layout: default
---

{% capture author_path %}_people/{{ page.author }}.md{% endcapture %}
{% assign author = site.people | where: "path", author_path | first %}

<div class='post'>

  <div>
    <h1>{{page.title}}</h1>

    {% if page.featured_image %}
      <img id='featured-image' src={{page.featured_image.url}} alt='{{page.featured_image.alt}}' class='blog-header'/>
      {% if page.featured_image.attribution %}
        <small class='pull-right'><a href='{{page.featured_image.link}}'>{{page.featured_image.attribution}}</a></small>
      {% endif %}
    {% endif %}
  </div>

  <div class='byline'>
    By {{ author.name }},
    <span class='day'>{{page.date | date: '%d' }}</span>
    <span class='month'>{{page.date | date: '%B %Y' }}</span>
  </div>

  <div class='postcontent'>
    {{ content }}
  </div>
  
  {% include comments.html %}
  
</div>